<div class="home-page">
  <% @books.each do |book| %>
  <div class="cards">
      <%= image_tag(book.picture, class: "cover-book") %>
      <h2 class="title">
        <%= book.title %>
      </h2>
      <h6 class="author">
        by <%= book.author %>
      </h6>
  </div>
  <% end %>

</div>
